executor="slurm"
procs=1
queue="ikmb_a"
memory=8
custom_submit_options="--qos=ikmb_a"

// Specify resources for individual tools

commands {

	pathoscope_map {
		procs=8
		memory=32
	}
	
	cram2bam {
		procs=8
		memory=16
	}
	
	bcl2fastq {
		procs=1
	}
	
	trowel {
		procs=16
	}

	trimmomatic {
		procs=8
		memory=16
	}
	
	interproscan {
		procs=4
	}

	tophat {
		procs=16
	}

	bwa_mem {
		procs=16
		memory=64
	}

	picard_dedup {
		procs=1
		memory=17
	}

	samblaster {
		procs=1
	}

	samtools {
		procs=1
		memory=16
	}
	
	samtools_merge {
		procs=8
		memory=32
	}

	samtools_sort {
		procs=8
		memory=120
	}

	samtools_bam_sort {
		procs=1
		memory=17
	}

	blast {
		procs=8
		memory=16
	}		


	gatk_haplotype_caller {
		procs=4
		memory=32
	}

	gatk_combine_variants {
		memory=25
	}

	gatk_local_realign_target {
		procs=4
		memory=25
	}	

	gatk_variant_recalibrator {
		procs=16
		memory=65
	}

	gatk_local_realign {
		memory=22
	}

	gatk_base_recalibrate {
		memory=25
		procs=2
	}
	
	gatk_print_reads {
		procs=4
		memory=24
	}
	
	vep {
		procs=16
		memory=48
	}

	isaac {
		procs=16
		memory=64
	}

	freebayes_parallel {
		procs=4
		memory=32
	}

	manta {
		procs=16
		memory=64
	}
}
