executor="pbspro"
procs=1
queue="exc_b1"
memory=8

// Specify resources for individual tools

commands {

	cram2bam {
		procs=8
		memory=16
	}
	
	bcl2fastq {
		procs=1
		queue="normal"
	}
	
	trowel {
		procs=16
	}

	trimmomatic {
		procs=8
		memory=16
	}
	
	interproscan {
		procs=4
	}

	tophat {
		procs=16
	}

	bwa_mem {
		procs=16
		memory=16
	}

	samblaster {
		procs=1
	}

	samtools {
		procs=1
		memory=16
	}
	
	samtools_merge {
		procs=8
		memory=32
	}

	samtools_sort {
		procs=8
		memory=32
	}

	blast {
		procs=8
		memory=16
	}		


	gatk_haplotype_caller {
		procs=16
		memory=64
	}

	gatk_local_realign_target {
		procs=4
		memory=25
	}	

	gatk_local_realign {
		memory=22
	}

	gatk_base_recalibrate {
		memory=22
	}
	
	vep {
		procs=16
		memory=48
	}

	isaac {
		procs=16
		memory=64
	}

	freebayes_parallel {
		procs=16
		memory=32
	}

	manta {
		procs=16
		memory=64
	}
}
