// Config 

// Genome index for Bwa
BWA_INDEX="/home/sukmb352/scratch/wgs_pipeline/reference/Homo_sapiens_assembly38.fasta"

// Location of Bwa
BWA="bwa"

// Location of Samtools
SAMTOOLS="samtools"

//Location of Samblaster
SAMBLASTER="samblaster"

// Path to Trimmomatic directory
TM_PATH="/ifs/data/nfs_share/ikmb_repository/software/trimmomatic/0.36"

// Path to Trimmomatic jar
TM_JAR="$TM_PATH/trimmomatic-0.36.jar"

ADAPTER="TruSeq3-PE-2.fa"
