// Config file for exome_britt

TM_PATH="/ifs/data/nfs_share/ikmb_repository/software/trimmomatic/0.36"
TM_JAR="$TM_PATH/trimmomatic-0.36.jar"
ADAPTER="NexteraPE-PE.fa"

//No description available yet
BWA_INDEX="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.fasta"

//Location of the GATK package
GATK="/ifs/data/nfs_share/ikmb_repository/software/gatk/3.4.0/GenomeAnalysisTK.jar"

//Reference SNPs for GATK
SNP_REF="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"

//Location of reference file
REF="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.fasta"

//No description available yet
DBSNP_REF="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/dbsnp_138.hg19.vcf.gz"

//No description available yet
PICARD="/ifs/data/nfs_share/ikmb_repository/software/picard/1.134/picard.jar"

TARGET_INTERVALS="/ifs/data/nfs_share/ikmb_repository/references/exomes/truseq_rapid_exome/truseq-rapid-exome-target_intervals_hg19.fixed_header.bed"

TARGET_FILE="/ifs/data/nfs_share/ikmb_repository/references/exomes/truseq_rapid_exome/truseq-rapid-exome-target_PLUS20bp_hg19.bed"

HAPMAP_REF="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/hapmap_3.3.hg19.sites.vcf.gz"
OMNI_REF="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
