// Config 

// Genome index for Bwa
BWA_INDEX="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.fasta"

// Location of Bwa
BWA="bwa"

// Location of Samtools
SAMTOOLS="samtools"

//Location of Samblaster
SAMBLASTER="samblaster"

// Path to Trimmomatic directory
TM_PATH="/ifs/data/nfs_share/ikmb_repository/software/trimmomatic/0.36"

// Path to Trimmomatic jar
TM_JAR="$TM_PATH/trimmomatic-0.36.jar"

// Adapter sequences used in library prep
ADAPTER="TruSeq3-PE-2.fa"

// Ref for Isaac (usually the same as BWA_INDEX)
REF="/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.fasta"
