// Config file for Reads2Assembly

//Location of Trimmomatic installation
TM_PATH="/ifs/data/nfs_share/ikmb_repository/software/trimmomatic/0.36"

//Path to trimmomatic java file
TM_JAR="$TM_PATH/trimmomatic-0.36.jar"

//Location of trimmomatic adapter sequence to use
ADAPTER="TruSeq3-PE.fa"

//Location of FastQC executable
FASTQC="fastqc"

PATHOSCOPE_INDEX_DIR="/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

BWT2_INDEX="/home/sukmb352/projects/microbiome/agilent/bowtie_index/probes.fasta"

MPA_DB="/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200"
MPA_PKL=MPA_DB +  ".pkl"
