BTW2_INDEX="/ifs/data/nfs_share/ikmb_repository/references/genomes/homo_sapiens/EnsEMBL/86/homo_sapiens.fa"
TRANSCRIPTOME_INDEX="/ifs/data/nfs_share/ikmb_repository/references/genomes/homo_sapiens/EnsEMBL/86/transcriptome/known"
GENOME_GTF="/ifs/data/nfs_share/ikmb_repository/references/genomes/homo_sapiens/EnsEMBL/86/homo_sapiens.no_names.gtf"



